@import 'node_modules/foundation-sites/scss/foundation';

.heading {
    margin-bottom: 30px;

    @include breakpoint(medium) {
        margin-bottom: 60px;
    }

    &__title {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 20px;

        @include breakpoint(medium) {
            font-size: 65px;
            line-height: 66px;
        }
    }

    &__subtitle {
        font-size: 18px;
        letter-spacing: .5px;
        line-height: 26px;

        @include breakpoint(medium) {
            font-size: 24px;
            line-height: 28px;
        }
    }

    &__title,
    &__subtitle {
        color: #fff;
        filter: drop-shadow(1px 1px 1px rgba(17, 19, 23, .5));
        font-weight: 700;
        text-transform: uppercase;
    }
}