@import 'node_modules/foundation-sites/scss/foundation';

$primary-red: #e42e2e;

.heading {
    position: relative;
    margin-bottom: 40px;

    @include breakpoint(medium) {
        margin-bottom: 60px;
    }

    &:after {
        background-color: $primary-red;
        bottom: -19px;
        content: '';
        filter: drop-shadow(1px 1px 1px rgba(17, 19, 23, .5));
        height: 2px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 60px;

        @include breakpoint(medium) {
            bottom: -30px;
        }
    }

    &__title {
        font-size: 38px;
        line-height: 42px;
        margin: 0 10px 10px 10px;

        @include breakpoint(medium) {
            font-size: 65px;
            line-height: 66px;
            margin: 0 0 10px 0;
        }
    }

    &__subtitle {
        font-size: 20px;
        letter-spacing: .5px;
        line-height: 24px;
        margin: 0 15px;

        @include breakpoint(medium) {
            font-size: 26px;
            line-height: 30px;
            margin: 0;
        }
    }

    &__title,
    &__subtitle {
        color: #fff;
        filter: drop-shadow(1px 1px 1px rgba(17, 19, 23, .6));
        font-weight: 700;
        text-align: center;;
        text-transform: uppercase;
    }
}