@import 'node_modules/foundation-sites/scss/foundation';

.company-logo {
    overflow: hidden;
    margin: 0 auto;
    width: 150px;

    @include breakpoint(medium) {
        width: 200px;
    }

    &__logo {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        filter: drop-shadow(1px 1px 1px rgba(17, 19, 23, .6));
        margin-left: 15px;
        padding-bottom: 100%;
    }
}