.company-logo {
    display: flex;
    justify-content: center;

    .icon {
        filter: drop-shadow(1px 1px 1px rgba(17, 19, 23, .6));
        height: 120px;
        width: 80px;

        img {
            height: 100%;
            width: auto;
        }
    }
}