@import 'node_modules/foundation-sites/scss/foundation'; 
@import 'src/styles/01-settings/__import';

$custom-nav-breakpoint: 900px;
$nav-height-desktop: 70px;
$nav-height-mobile: 70px;

.navigation-list {
    $this: &;
    display: none;
    height: $nav-height-desktop;

    @include breakpoint($custom-nav-breakpoint) {
        align-items: center;
        display: flex;
    }

    &.slide-in {
        background: $primary-dark;
        border-top: 2px solid $primary-red;
        display: flex;
        flex-direction: column;
        height: 100%;
        left: 0;
        position: absolute;
        top: $nav-height-mobile;
        width: 100%;
        z-index: 25;

        #{$this}__item {
            height: 60px;
        }
    }

    &__item {
        height: 100%;

        &:hover {
            background-color: lighten($primary-dark, 15%);
        }

        &.is-active {
            position: relative;

            &:after {
                @include breakpoint($custom-nav-breakpoint) {
                    background: $primary-red;
                    bottom: 0;
                    content: '';
                    left: 0;
                    height: 5px;
                    position: absolute;
                    width: 100%;
                }
            }

            #{$this}__link {
                text-decoration: underline;

                @include breakpoint($custom-nav-breakpoint) {
                    text-decoration: none;
                }
            }
        }
    }

    &__link {
        align-items: center;
        color: map-get($colors, 'white');
        display: flex;
        font-size: 18px;
        height: 100%;
        padding: 0 20px;
        text-decoration: none;

        @include breakpoint($custom-nav-breakpoint) {
            font-size: 16px;
        }
    }
}