@import 'node_modules/foundation-sites/scss/foundation'; 
@import 'src/styles/01-settings/__import';

$custom-nav-breakpoint: 900px;
$nav-height-desktop: 70px;

.navigation-list {
    display: none;
    height: $nav-height-desktop;

    @include breakpoint($custom-nav-breakpoint) {
        align-items: center;
        display: flex;
    }

    &__item {
        height: 100%;

        &:hover {
            background-color: lighten($primary-dark, 15%);
        }

        &.is-active {
            position: relative;

            &:after {
                background: $primary-red;
                bottom: 0;
                content: '';
                left: 0;
                height: 5px;
                position: absolute;
                width: 100%;
            }
        }
    }

    &__link {
        align-items: center;
        color: map-get($colors, 'white');
        display: flex;
        font-size: 16px;
        height: 100%;
        padding: 0 20px;
        text-decoration: none;
    }
}