@import 'node_modules/foundation-sites/scss/foundation'; 
@import 'src/styles/01-settings/__import';

$nav-height-desktop: 70px;
$custom-nav-breakpoint: 900px;

.navigation {
    align-items: center;
    background-color: $primary-dark;
    display: flex;
    height: $nav-height-desktop;
    justify-content: space-between;
    padding: 0 40px;

    &__logo {
        color: map-get($colors, 'white');
        width: 120px;
    }

    &__burger-button {
        color: map-get($colors, 'white');

        @include breakpoint($custom-nav-breakpoint) {
            display: none;
        }
    }

    &__main {
        height: 100%;
    }
}