$grid-container: 1320px;
$grid-columns: 12;
$grid-margin-gutters: 20px;
$grid-padding-gutters: 40px;
$grid-container-small-padding: 20px;
$grid-container-medium-padding: 20px;
$grid-container-large-padding: 40px;
$grid-container-max: 1560px;