@import 'node_modules/foundation-sites/scss/foundation';

$overlay-gradient-dark: #111317;
$transparent: rgba(#111317, .2);

.large-hero {
    height: 100vh;
    overflow: hidden;
    position: relative;

    &__background-image {
        height: 100%;
        position: relative;

        &:after {
            background: linear-gradient(180deg, rgba(#111317, .2) 0%, #111317 105%);
            bottom: 0;
            content: '';
            position: absolute;
            top: 0;
            width: 100%;

            @include breakpoint(medium) {
                // background: linear-gradient(180deg, $overlay-gradient-dark -20%, $transparent 20%, $transparent 30%, $overlay-gradient-dark 100%);
                background: linear-gradient(180deg, red -20%, $transparent 20%, $transparent 30%, red 100%);
            }
        }

        .responsive-image {
            min-height: 500px;
            padding-bottom: 40%;

            @include breakpoint(small only) {
                height: 100%;
            }

            @include breakpoint(medium) {
                min-height: 640px;
            }

            @include breakpoint(large) {
                min-height: 740px;
            }
        }
    }

    &__inner {
        bottom: 0;
        left: 0;
        margin-bottom: 30px;
        position: absolute;
        width: 100%;

        @include breakpoint(small only) {
            margin-bottom: 20px;
        }
    }
}